[Unit]
Description=KioskMate Supervisor
After=graphical-session.target
Wants=network-online.target

[Service]
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/bin/kioskmate
Restart=on-failure
RestartSec=3s
KillMode=control-group
TimeoutStopSec=20s
UMask=0077

[Install]
WantedBy=default.target
